# ==========================================================================
# ۱. فایل‌ها و پوشه‌های اختصاصی جنگو و پایتون (Django & Python)
# ==========================================================================
*.pyc
*.pyo
*.pyd
__pycache__/
*.pkl
db.sqlite3
db.sqlite3-journal
/staticfiles/
/media/

# ==========================================================================
# ۲. محیط‌های مجازی پایتون (Python Virtual Environments)
# ==========================================================================
venv/
.venv/
env/
.env/
ENV/
bin/
include/
lib/
share/

# ==========================================================================
# ۳. فرانت‌آند و پکیج‌های جاوااسکریپت (Node / Tailwind / Vite)
# ==========================================================================
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.eslintcache
.parcel-cache
.next/
out/
build/
dist/

# نادیده گرفتن فایل خروجی تیلویند در صورتی که تمایل دارید هر بار لوکال کامپایل شود
# اگر می‌خواهید خروجی روی سرور آپلود شود، خط زیر را با گذاشتن # کامنت کنید:
# frontend/static/dist/output.css

# ==========================================================================
# ۴. فایل‌های حساس، تنظیمات و کلیدهای امنیتی (Security & Environment Variables)
# ==========================================================================
.env
.env.local
.env.*.local
secrets.json
*.bak
*.conf

# ==========================================================================
# ۵. فایل‌های موقت سیستم‌عامل‌ها و آی‌دی‌ای‌ها (OS & IDEs)
# ==========================================================================
# ویندوز
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/

# مک
.DS_Store
.AppleDouble
.LSOverride

# ادیتورها (VS Code, PyCharm)
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp

.db_data/
postgres_data/